.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: center;
    padding-top: 92px;
    padding-left: 24px;
    padding-bottom: 92px;
    padding-right: 24px;
}

.header__menu-list{
    display: flex;
    gap: 31px;
    justify-content: space-around;
    justify-items: start;
    list-style: none;
}

.header__menu-item{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.header__menu-link{
    color:#000000;
}

.header__menu-item .header__links-list-item_no-bullit{
    text-decoration: none;
}

.header__links-list-item_bullit{
    list-style: circle;
}

.header__logo{
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image{
    width: 100%;
}

.header__address{
    padding-left: 184px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    justify-content: center;
}

.cover{
    color:#FFFFFF;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: 95% auto;
    background-repeat: no-repeat;
    padding: 165px 50px 207px;
}

.cover__title{
    font-family: Raleway, serif;
    font-size: 100px;
    font-weight: bold;
}

.accent-span{
    display: block;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.description{
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 2px;
    padding-top: 118px;
    padding-right: 107px;
}

.description__text{
    height: 51;
    font-family: Raleway;
}

.button{
    width: 256px;
    height: 51px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_text{
    font-size: 22px;
}

.lots{
    padding-left: 24px;
    padding-right: 24px;
}

.lots__header{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left:40px;
}

.lots__card-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}

.lot__card{
    padding: 48px 40px;
    margin-top: 74px;
    margin-bottom: 53px;
    flex-grow: 1;
    position: relative;
    min-height: 596;
    min-width: 334;
}

.card__content{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.card__title{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

.card__text{
    text-wrap: balance;
    font-size: 20px;
}

.card__film{
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__book{
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.card__painting{
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.cover__more-button{
    color:#000000;
    text-decoration: underline;
}

.about{
    display: grid;
    grid-template-columns: 334px repeat(1, 1fr);
    gap: 25px;
    padding: 120px 24px 180px;

}

.about__content{
    display: flex;
    flex-direction: column;
    padding-top: 133px;
}

.about__title{
    display: flex;
    font-size: 40px;
    text-transform: uppercase;
    justify-self: start;
    align-items: center;
    margin-bottom: 100px;
}

.about__logo{
    display: flex;
    background-color: #000000;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.about__logo-image{
    width: 148px;
    height: 114px;
}

.about__text{
    align-self: flex-start;
    font-size: 20px;
    margin-bottom: 24px;
}


.text__down{
    margin-top: 24px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: center;
    padding-left: 50px;
    padding-left: 50px;
}

.footer__address{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    justify-content: center;
    margin-bottom: 82px;
}

.footer__menu-list{
    display: flex;
    flex-direction: column;
    justify-items: start;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 115px;
}

.footer__menu-item{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.footer__menu-link{
    color:#000000;
}

.footer__social-list-item{
    display: flex;
    gap: 48px;
    margin-bottom: 131px;
}

.footer__social-icon{
    display: block;
    height: 48px;
    width: 48px;
}